header .logo {
  margin-bottom: 10px;
  font-size: 30px;
}
.main-movie {
  font-size: 14px;
}
/*?------------ Carrousel -------*/
.principal-container .carrousel-container {
  overflow: visible;
}
.principal-container .carrousel-container .carrousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.recommended-movies .pointmark,
.recommended-movies .left-arrow,
.recommended-movies .right-arrow {
  display: none;
}
/*?-------------- @media ---------*/
@media screen and (max-width: 320px) {
  main {
    display: inline-grid;
    justify-content: center;
  }
  /*--------PRICIPAL MOVIE---------*/
  .main-description--container {
    display: grid;
    grid-template-rows: 80px;
    gap: 0.5em;
  }

  /*--------ADD MOVIE---------*/
  .form__container--group input {
    width: -webkit-fill-available;
  }

  .form__container--group .recording {
    padding: 2em;
    width: 90%;
  }

  /*---------LIST AREA:-------*/
  .section__data--container {
    width: -webkit-fill-available;
  }
  .section__data--container .recovery {
    padding: 2em;
    width: 90%;
  }
}
