.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.nav-header {
  padding: 0;
}
.nav-toggle {
  display: none;
}
.links {
  height: auto;
  display: flex;
}
.links a {
  padding: 0;
  margin: 0 1rem;
}
.links a:hover {
  padding: 0;
  background: transparent;
}

.section__container--player iframe {
  width: 65vh;
  height: 180px;
  box-shadow: 20px 14px 16px 5px rgb(0 0 0 / 80%);
}

.dataShown h2 {
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: var(--logo);
  text-shadow: var(--text-shadow);
}
