*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main__page2 {
  min-height: 100vh;
  place-items: center;
}

.sectionPage2 {
  background: url(../imgs/conan.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 100vh;
}
.video2 {
  margin: 1em;
  height: 165px;
}
footer {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: var(--logo);
}
@media screen and (max-width: 320px) {
  .section .sectionPage2 {
    display: grid;
    justify-content: center;
  }
}
