


:root{
    /*colors*/
    --red: #e50914;
    --background: #363535;
    --font-color:#fffefe;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
/* ---- ---- ---- ---- header ---- ---- ---- ---- */
header{
    padding: 30px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
     font-family: 'Bebas Neue', cursive;
     font-weight: normal;
     color: var(--red);
     font-size: 40px;
}
header .nav ul{
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
header .nav li{
    margin: 0 .75rem;
}
header nav a:hover,
header nav a.active{
    color: #FFF;
}

/* ---- ---- ---- ---- principal-movie ---- ---- ---- ---- */
.principal-movies{
    font-size: 16px;
    min-height: 40.62em;
    color: var(--font-color);
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../imgs/backdrop.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}
.principal-movies .container{
    margin: 0 auto;
    margin-bottom: 6.25em;
}
.principal-movies .title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}
.principal-movies .descripton p{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.90em;
    max-width: 50%;
    margin-bottom: 1.25em;
}
.principal-movies .button{
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-top: 0.4em;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}
.principal-movies .button:hover{
    background: var(--font-color);
    color: #000;
}
.principal-movies .button i{
    margin-right: 1.25em;
}

/* ---- ---- ---- ---- Media Queries  ---- ---- ---- ---- */
@media screen and (max-width: 800px){
    header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }
    header .container{
        flex-direction: column;
        text-align: center;
    }
    .principal-movies{
        font-size: 14px;
    }
    .principal-movies .descripton{
        max-width: 100px;
    }
}
