:root {
  /*colors*/
  --logo: #ff7070;
  --background: #363535;
  --font-color: #fffefe;
  --font-color-second: #ebb8bb;
  --transition: all 0.4s linear;
  --text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: var(--font-color);
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 70%;
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  scroll-behavior: smooth;
}
body {
  height: 100%;
}
.buttonGlobal {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  color: #fff;
  cursor: pointer;
  font-size: 1.12em;
  margin: 1em;
  outline: none;
  padding: 1em;
  transition: 0.3s ease all;
}
/*------------------------------------- header---------------------------------*/
.headContainer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.headerContainer__title {
  color: var(--logo);
  font-size: 5em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  text-shadow: var(--text-shadow);
}
.headerContainer__toggle {
  display: none;
}
.navListContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navListContainer a {
  color: var(--font-color-second);
  font-size: 2em;
  letter-spacing: var(--spacing);
  padding: 6px 1rem;
  text-shadow: var(--text-shadow);
  text-transform: capitalize;
  transition: var(--transition);
}
.navListContainer a:hover {
  color: var(--font-color);
  padding-left: 1.5rem;
}
/*---------------------------------------------------------------------------------*/
/*------------------------------------------- main --------------------------------*/
main .mainpage2 {
  min-height: 100vh;
  place-items: center;
}
.mainContainer {
  display: flex;
  align-items: flex-end;
  min-height: 50em;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../imgs/backdrop.jpg);
  background-position: center, center;
  background-size: cover;
  color: var(--font-color);
  font-size: 100%;
  text-shadow: var(--text-shadow);
}
.mainContainer__movie {
  margin: 3em;
}
.mainContainer__description--title {
  font-size: 3.12em;
  margin: 0.4em;
}
.mainContainer__description--resume--text {
  display: none;
  margin: 1em;
  font-family: "Open Sans";
  font-size: 2em;
  transition: var(--transition);
}
.mainContainer__description--button:hover {
  background: var(--font-color);
  color: #000;
}
.mainContainer__description--button i {
  margin-right: 1.25em;
}
.mainContainer__videoContainer video {
  margin: 1em;
  height: 165px;
}

/*-------------------------------------------------------------------------------------*/
/*? --------------------------------------------------------------- Podcast ---------------- */
.podcastInfoContainer {
  background: url(../imgs/conan.jpg);
  background-position: center center;
  background-size: cover;
  padding: 1em;
}
.podcastInfoContainer__title {
  color: var(--font-color);
  font-size: 3.12em;
  margin-bottom: 10px;
  text-shadow: var(--text-shadow);
  width: 100%;
}
.podcastInfoContainer__area {
  align-items: center;
  display: inline-flex;
}
.sectionPlayer__player {
  margin: 1em;
  padding: 1em;
}
.sectionPlayer__player iframe {
  box-shadow: 20px 14px 16px 5px rgba(0, 0, 0, 0.8);
  height: 14em;
  width: 46vh;
}
.podcastInfoContainer__area--aside {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  color: var(--font-color);
  font-size: 20px;
  margin: 1em;
  padding: 1em;
  text-shadow: var(--text-shadow);
}
@media (max-width: 700px) {
  .podcastInfoContainer__area {
    display: block;
  }
}

/*---------------------------------------------------------------------------------------------*/

/*-------------------------------------------- Recomended Area---------------------------------------- */

/*---------------- Title container and controls-pointmark ----------------*/
.list__recommendedContainer p {
  color: var(--font-color);
  font-size: 3em;
  text-shadow: var(--text-shadow);
}
.list__recommendedContainer--pointmarks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

  /* outline: 1;*/
}
.list__recommendedContainer--pointmarks .pointmark {
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.8);
}
.list__recommendedContainer--pointmarks .pointmark button {
  background: var(--font-color);
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
  outline: none;
}
.pointmark button:hover,
.pointmark button.active {
  background: red;
}
@media (max-width: 500px) {
  .list__recommendedContainer--pointmarks .pointmark {
    display: none;
  }
}

/*-------- Main container and arrows ---------*/
.list__recommendedContainer {
  padding: 3em;
}
.list__recommendedContainer .container {
  margin-bottom: 70px;
}
.list__recommendedContainer--carrousel {
  display: flex;
  align-items: center;
  position: relative;
}
.list__recommendedContainer--carrousel .left-arrow,
.list__recommendedContainer--carrousel .right-arrow {
  position: absolute;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: var(--font-color);
  cursor: pointer;
  outline: none;
  z-index: 500;
  transition: 0.2s ease all;
}
.list__recommendedContainer--carrousel .left-arrow:hover,
.list__recommendedContainer--carrousel .right-arrow:hover {
  background: rgba(0, 0, 0, 0.9);
}
.list__recommendedContainer--carrousel .left-arrow {
  left: 0;
}
.list__recommendedContainer--carrousel .right-arrow {
  right: 0;
}

/*---------------- Carrousel ----------------*/

.carrouselContainer__items {
  width: 100%;
  padding: 20px 0;
  border-radius: 6px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carrouselContainer__items .carrousel {
  display: flex;
  flex-wrap: nowrap;
}
.carrouselContainer__items .carrousel .movie {
  min-width: 20%;
  transition: 1s ease all;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.56);
  cursor: pointer;
}
.carrouselContainer__items .carrousel .movie:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.carrouselContainer__items .carrousel .movie img {
  border-radius: 6px;
  width: 100%;
  vertical-align: top;
}

/*--------------- Cover carrousel--- --------------*/
.carrouselContainer__items .carrousel .movie .cover {
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 6, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrouselContainer__items .carrousel .movie:hover > .cover {
  opacity: 1;
  visibility: visible;
}
.carrouselContainer__items .carrousel .movie .cover p {
  margin: 0 auto;
  position: fixed;
  color: var(--font-color);
  line-height: 1em;
  font-size: 1.1em;
  text-align: center;
}
/*-------------------------------------------------------------------------------------------------- */
/*----------------------------------------------- Form1-movie ----------------------------------------*/
.formContainer {
  margin: 0em 1em 1em;
  gap: 1em;
  font-size: 100%;
}
.formContainer h2 {
  font-size: 5em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  color: var(--logo);
  text-shadow: var(--text-shadow);
}
.formContainer label,
input {
  display: inline-block;
  width: 100px;
  margin: 0.1em;
  color: var(--font-color-second);
  font-size: 2em;
  text-shadow: var(--text-shadow);
}
.formContainer__group input {
  border-radius: 15px;
  width: 70%;
  background-color: transparent;
  border-bottom: 2px solid var(--logo);
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  font-family: "Muli", sans-serif;
  font-size: 2em;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}
.recording:hover {
  background: var(--font-color);
  color: #000;
}
.formContainer__button i {
  margin-right: 1.25em;
}
/*-------------------------------------------------------------------------------------------------- */

/*----------------------------------------------- DataArea------------------------------------------ */

.dataAreaContainer h2 {
  font-size: 5em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  color: var(--logo);
  text-shadow: var(--text-shadow);
}
.dataAreaContainer {
  margin: 0em 1em 1em;
  color: var(--font-color);
  margin: 0em 1em 1em;
}
.dataShown {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  table-layout: auto;
  width: 100%;
}
.recovery {
  margin-top: 20px;
}
.recovery:hover {
  background: var(--font-color);
  color: #000;
}
.dataAreaContainer__button i {
  margin-right: 1.25em;
}
/*-------------------------------------------------------------------------------------------------- */

/*-------------------------------------------- Button to Top---------------------------------------- */
.buttonToTop {
  align-items: center;
  background: var(--logo);
  border: 4px solid transparent;
  border-radius: 50%;
  bottom: 40px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 30px;
  transition: all 320ms ease;
  transform: scale(0);
  width: 40px;
  z-index: 501;
}
.buttonToTop:hover {
  border-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.4);
}
/*-----------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------footer-----------------------------*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--logo);
  width: 100vw;
  /*display: block;*/
  padding: 35px 0;
  overflow: hidden;
  box-sizing: border-box;
}
.footer__container {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}
.footer__container .logo__container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.footer__container .logo__container img {
  margin-top: 10px;
  margin-left: 10px;
  width: 10em;
  height: auto;
}
.footer__container .list__container1 {
  width: calc(21.6666666667% - 20px);
  margin-top: 22px;
  margin-right: 10px;
  float: left;
  height: 100%;
}
.footer__container .list__container1:last-child {
  margin-right: 0;
}
.footer__container .list__container1 h1 {
  font-family: "arial";
  font-size: 22px;
  color: var(--font-color);
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.footer__container .list__container1 a {
  font-family: "arial";
  font-size: 18px;
  color: var(--font-color);
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}
.footer__container .list__container1 li {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

/*-----------------------------------------------PAGE2-------------------------------------------------------*/
.main__page2 {
  min-height: 100vh;
  place-items: center;
}
.sectionPage2 {
  background: url(../imgs/conan.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  /*justify-content: center;*/
  height: 100vh;
}
.section__containerP2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 0 10em 8em;
}

.section__containerP2 .containerPosters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
}

.item img {
  position: relative;
  object-fit: cover;
  width: 80vw;
  height: 100px;
  transition: 2s linear;
  box-shadow: 12px 20px 10px rgba(0, 0, 0, 0.56);
  cursor: pointer;
  border-radius: 8px;
  padding: 6px;
  background: #f2f2f2;
  // pointer-events: auto;
}
.item img:hover {
  width: 12em;
  height: 18em;
  min-width: 5%;
}

/*----------------------------------------------PAGE2.2------------------------------------*/
.containerPosters p {
  //display: none;
  padding: 2px;
  margin: 2px;
  font-family: "Open Sans";
  font-size: 2em;
}
.containerPosters .level-1,
.level-2,
.level-3 {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}

/*------------------------------------Media Query---------------------------------*/
@media screen and (max-width: 800px) {
  .headContainer {
    flex-wrap: wrap;
  }

  .headerContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .headerContainer__title {
    color: var(--logo);
    font-family: "Bebas Neue", sans-serif;
    font-size: 5em;
    font-weight: normal;
    text-shadow: var(--text-shadow);
  }
  .headerContainer__toggle {
    background: transparent;
    border-color: transparent;
    color: var(--logo);
    cursor: pointer;
    display: block;
    font-size: 4rem;
    font-weight: 100;
    outline: none;
    transition: var(--transition);
  }
  .headerContainer__toggle:hover {
    color: var(--font-color);
    transform: rotate(90deg);
  }
  /*----------------links---------*/
  .navListContainer {
    display: block;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
  }
  .navListContainer a {
    color: var(--font-color-second);
    font-size: 2em;
    letter-spacing: var(--spacing);
    padding: 6px 1rem;
    text-shadow: var(--text-shadow);
    text-transform: capitalize;
    transition: var(--transition);
  }
  .navListContainer a:hover {
    color: var(--font-color);
    padding-left: 1.5rem;
  }
  .show-navListContainer {
    display: block;
    height: 11rem;
  }
} /*------------------------------------Media Query---------------------------------*/
@media (max-width: 500px) {
  .list__recommendedContainer .carrouselContainer__items {
    overflow: visible;
  }

  .list__recommendedContainer--carrousel .carrouselContainer__items .carrousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .list__recommendedContainer--carrousel .left-arrow,
  .list__recommendedContainer--carrousel .right-arrow {
    display: none;
  }

  footer .footer__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .footer__container .logo__container,
  .footer__container .list__container1 {
    width: 100%;
    margin: 1em;
  }
  .footer__container .logo__container img {
    margin-left: -8px;
  }
} /*------------------------------------Media Query---------------------------------*/
@media (max-width: 400px) {
  .mainContainer__movie {
    margin: 0;
  }
  .mainContainer__videoContainer video {
    margin: 0;
  }
  .mainContainer__description {
    display: inline-grid;
    justify-content: center;
    width: 100vw;
  }
}
