/*
1. Position
2. Box model
3. Tipo
4. Visual
5. Misselanius
*/
:root {
  /*colors*/
  --logo: #ff7070;
  --background: #363535;
  --font-color: #fffefe;
  --font-color-second: #ebb8bb;
  --transition: all 0.4s linear;
  --text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: rgb(0, 0, 255) 1px solid;*/
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background: var(--background);
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.buttonGlobal {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 1em;
  color: #fff;
  margin: 1em;
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

/*?------------ header--------------*/
/* section */
main {
  min-height: 100vh;

  place-items: center;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  /* border: yellow 1px solid;*/
}
.nav-header h1 {
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: var(--logo);
  text-shadow: var(--text-shadow);
  /* border: yellow 1px solid;*/
}
.nav-toggle {
  font-size: 3rem;
  color: var(--logo);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  /* border: yellow 1px solid;*/
}
.nav-toggle:hover {
  color: var(--font-color);
  transform: rotate(90deg);
  /* border: yellow 1px solid;*/
}

/*?----------------links---------*/
.links a {
  color: var(--font-color-second);
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  text-shadow: var(--text-shadow);
  /* border: yellow 1px solid;*/
}
.links a:hover {
  color: var(--font-color);
  padding-left: 1.5rem;
  /* border: yellow 1px solid;*/
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  /* border: yellow 1px solid;*/
}
.show-links {
  height: 15rem;
  /* border: yellow 1px solid;*/
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/*? ---- ---- ---- ---- principal-movie ---- ---- ---- ---- */
main {
  padding-bottom: 1em;
}

.main-movie {
  margin-bottom: 3.12em;
  display: flex;
  align-items: flex-end;
  min-height: 40em;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../imgs/backdrop.jpg);
  background-position: center center;
  background-size: cover;
  color: var(--font-color);
  font-size: 16px;
  /* border: yellow 1px solid;*/
}
.main-description--container {
  margin: 0em 1em 1em;
}
.main-description--container--title {
  font-size: 3.12em;
  margin: 0.4em;
  text-shadow: var(--text-shadow);
}
.main-movie .descripton p {
  margin-bottom: 1.25em;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.9rem;
  max-width: 50%;
}
.main-movie .button:hover {
  background: var(--font-color);
  color: #000;
}
.main-movie .button i {
  margin-right: 1.25em;
}

.video video {
  margin: 1em;
  height: 150px;
}
/*? ---- ---- ---- ---- INFO ---- ---- ---- ---- */

/*? ---- ---- ---- ---- Title container and controls-pointmark ---- ---- ---- ---- */
.recommended-movies p {
  color: var(--font-color);
  font-size: 3em;
  text-shadow: var(--text-shadow);
}
.container-title-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: yellow 1px solid;*/
}
.container-title-controls .pointmark {
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.8);
}
.container-title-controls .pointmark button {
  background: var(--font-color);
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
.pointmark button:hover,
.pointmark button.active {
  background: red;
}

/*? ---- ---- ---- ---- Main container and arrows ---- ---- ---- ---- */
.recommended-movies {
  padding: 3em;
  /* border: yellow 1px solid;*/
}

.recommended-movies .container {
  margin-bottom: 70px;
}
.principal-container {
  display: flex;
  align-items: center;
  position: relative;
}
.principal-container .left-arrow,
.principal-container .right-arrow {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: var(--font-color);
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}
.principal-container .left-arrow:hover,
.principal-container .right-arrow:hover {
  background: rgba(0, 0, 0, 0.9);
}
.principal-container .left-arrow {
  left: 0;
}
.principal-container .right-arrow {
  right: 0;
}

/*? ---- ---- ---- ---- Carrousel ---- ---- ---- ---- */

.carrousel-container {
  width: 100%;
  padding: 20px 0;
  border-radius: 6px;
  overflow: hidden;
  scroll-behavior: smooth;
  /* border: yellow 1px solid;*/
}
.carrousel-container .carrousel {
  display: flex;
  flex-wrap: nowrap;
}
.carrousel-container .carrousel .movie {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.56);
  cursor: pointer;
}
.carrousel-container .carrousel .movie:hover {
  transform: scale(1.2);
  transform-origin: center;
}
.carrousel-container .carrousel .movie img {
  border-radius: 6px;
  width: 100%;
  vertical-align: top;
}
/*?--------------- Cover carrousel-----------------------*/
.carrousel-container .carrousel .movie .cover {
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 6, 6, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrousel-container .carrousel .movie:hover > .cover {
  opacity: 1;
  visibility: visible;
}
.carrousel-container .carrousel .movie .cover p {
  margin: 0 auto;
  position: fixed;
  color: var(--font-color);
  line-height: 1em;
  font-size: 1.1em;
  text-align: center;
}

/*? ---- ---- ---- ---- Form1-movie ---- ---- ---- ---- */
.form {
  padding: 15px 10px;
  margin: 0em 2em 1em 2em;
  /* border: yellow 1px solid;*/
}
.form1--movies-container h2 {
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: var(--logo);
  text-shadow: var(--text-shadow);
  /* border: yellow 1px solid;*/
}

.form1--movies-container__form-group {
  margin: 5px 5px;
  padding: 1em;
  display: inline-grid;
  justify-content: center;
  border: yellow 1px solid;
}
label {
  display: inline-block;
  width: 50px;
  margin: 0.1em;
  color: var(--font-color-second);
  font-size: 1.5em;
  text-shadow: var(--text-shadow);
}
.form .button:hover {
  background: var(--font-color);
  color: #000;
}
.form .form--button i {
  margin-right: 1.25em;
}
.form1 .form--button {
  display: block;
}

/*? ---- ---- ---- ---- DataArea---- ---- ---- ---- */
.data-area {
  padding: 15px 10px;
  margin: 0em 2em 1em 2em;
  border: yellow 1px solid;
}
.data-container {
  margin: 5px 5px;
  padding: 1em;
  display: inline-grid;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3em;
  color: var(--font-color);
  border: yellow 1px solid;
}

.dataShow h2 {
  font-size: 5em;
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: var(--logo);
  text-shadow: var(--text-shadow);
}
.button:hover {
  background: var(--font-color);
  color: #000;
}
.data-area .list-button i {
  margin-right: 1.25em;
}
.data-area .dataShown {
  display: block;
}

/*? ---- ---- ---- ---- Footer---- ---- ---- ---- */
footer {
  padding: 0.5em;
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: var(--logo);
  /* border: yellow 1px solid;*/
}
