header .logo{
    margin-bottom: 10px;
    font-size: 30px;
}
header .header--title-container{
    flex-direction: column;
    text-align: center;
}
.main-movie{
    font-size: 14px;
}
.main-movie .main-description{
    max-width: 100%;
}
/*?------------ Carrousel -------*/
.principal-container .carrousel-container{
    overflow: visible;
}
.principal-container .carrousel-container .carrousel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.recommended-movies .pointmark,
.recommended-movies .left-arrow,
.recommended-movies .right-arrow{
    display: none;
}
/*?--------------form---------*/
.form--button{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*?------NAV---------*/
/*@media screen and (min-width: 550px) {

    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
      }
      .nav--header {
        padding: 0;
      }
      .buttonNav {
        display: none;
      }


    .links {
        height: auto;
        display: flex;
      }
      .links a {
        padding: 0;
        margin: 0 0.5rem;
      }
      .links a:hover {
        padding: 0;
        background: transparent;
      }
}*/